@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,700');
html,body{
height: 100%;
width: 100%;
font-family: 'Poppins',sans-serif;
color: #222;
padding-left: 1%;
padding-right: 1%;
}
.history img
{
  cursor: pointer;
  transition: 0.3s;
}
.generation img
{
  cursor: pointer;
  transition: 0.3s;
}
#slides img
{
  border-radius: 15px;
}
.carousel-inner img{
  width: 100%;
}
.generation img:hover
{
  opacity: 0.7;
}
.history img:hover
{
  opacity: 0.7;
}
.navbar
{
  padding:.8rem;
}
.navbar-nav li{
    padding-right: 20px;
    }
.nav-link
{
  font-size: 1.1rem !important;
}
.navbar-brand img
{
    width: 15%;
}
.history img{
    height: 90%;
    width:100%;
    border-radius: 10px;
}
.generation img{
    border-radius: 10px;
    height: 90%;
    width:90%;
}
footer a{
  font-size: 4.5rem;
  padding:3rem;
}
.fa-facebook{
  color: #3b5998;
}
.fa-twitter
{
  color: #00aced;
}
.fa-instagram
{
  color: #b72c94;
}
.fa-facebook:hover,.fa-instagram:hover,.fa-twitter:hover
{
  color:  #d5d5d5;
}
@media (max-width: 992px) {
  footer a
  {
    font-size: 4rem;
    padding: 2rem;
  }
  }
  @media (max-width: 768px) {
    .carousel-caption
  {
    position: absolute;
    top: 45%;
  }
  .carousel-caption h1{
    font-size: 350%;
  }
  .carousel-caption h3{
    font-size: 140%;
  }
    .carousel-caption .btn
    {
      font-size:95%;
      padding: 8px 14px;
    }
    .display-4
    {
      font-size: 200%;
    }
    footer a
    {
      font-size: 2.5rem;
      padding: 1.2rem;
    }
  }
  @media (max-width: 576px) {
    .carousel-caption
    {
      position: absolute;
      top: 40%;
    }
    .carousel-caption h1{
      font-size: 250%;
    }
    .carousel-caption h3{
      font-size: 110%;
    }
      .carousel-caption .btn
      {
        font-size:90%;
        padding: 4px 8px;
      }
      .display-4
      {
        font-size: 260%;
      }
      footer a
      {
        font-size: 2rem;
        padding: .7rem;
      }
      .carousel-indicators
      {
        display: none;
      }
    
  }

